fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic-settings==2.10.1
aiofiles==24.1.0
langchain==0.3.27
PyMuPDF==1.26.3
motor==3.7.1
pydantic-mongo==3.1.0
openai==1.98.0
cohere==5.16.1
qdrant-client==1.15.1
SQLAlchemy==2.0.42
asyncpg==0.30.0
alembic==1.16.4
psycopg2==2.9.10
nltk==3.9.1
langchain-community==0.3.27
langchain-core==0.3.72
langsmith==0.4.10


# Monitoring and metrics
prometheus-client==0.21.1
starlette-exporter==0.23.0
fastapi-health==0.4.0
